.whole
{
    position: relative;
    margin: 25px;
    width: 250px;
    padding: 100px;
    left: 450px;
    top: -50px;
   
}
.logo
{
    position: relative;
    left: 50px;
    top: -15px;
}
.Sign
{
  font-size: 30px;
  font: weight 200px;
  font-family: cursive;
  position: relative;
  top: -30px;
}
form {
    display: flex;
    flex-direction: column;

  }
  .box
  {
    position: relative;
    border: 1px solid gray;
    width: 250px;
    padding: 30px;
    left: -65px;
    top: -50px;
    border-radius: 20px;
background-color: aliceblue;  }

  input[type="text"],input[type="password"]
  {
   
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: none;
  }
  .p
  {
    margin: none;
    border: none;
    padding: 15px;
    position: relative;
    top: -70px;
  }
  button[type="submit"]
  {
    margin: none;
    padding:7px;
    position: relative;
    top: 20px;
    left: 0px;
    border-radius: 20px;
    border: 1px solid green;
    background-color: green;
    color: white;
    cursor: pointer;

  }
  input[type="email"]
  {
    position: relative;
    margin: none;
    top:-5px ;
    
  }
  .account
  {
    border: 1px solid black;
    margin: 10px;
    width: 250px;
    padding: 15px;
    position: relative;
    top: -40px;
    left: -60px;
    border-radius: 5px;
    background-color: aliceblue;

  }
  .a
  {
    color: blue;
  }
  .policy
  {
    position:relative;
     
    width:400px;
    left:500px;
    top:-220px
    
  }
    


  



  


